body {
    font-family: sans-serif;

}

* {
    border: 0px solid red;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    color: white;
 
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: center;
}

#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

#nav-bar-menu ul {
    margin: 0;
    padding: 0;
    display:flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 10px;
}

#master-container {
    display: flex;
    justify-content: center;

}
#slogan-container {
    display: flex;
    width: 1000px;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
   

}
#slogan-left {
    flex: 1;
    height: 250px;
    margin-right: 0px;
}
#slogan-right {
    height:300px;
    flex:1;
}
#slogan-right img {
    object-fit: cover;
    width:500px;
    height:250px;

}