body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

* {

    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

#nav-bar-wrapper {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    width:1000px;

}

#nav-bar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex:1;
}
#nav-bar-menu {
    flex:1;
}
#nav-bar-menu ul {
    margin: 0;
    padding: 0;
    display:flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 20px;
}
#nav-bar-menu a, a:visited, a:hover, a:active {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

#hero-wrapper {
    display: flex;
    justify-content: center;
    height:500px;
    background-color: #1F2937;
}

#hero-container {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
}
#hero-left {
    flex: 1;
    height: 250px;
    margin-right: 0px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
#hero-right {
    height:300px;
    flex:1;
}
#hero-right img {
    object-fit: cover;
    width:500px;
    height:250px;

}

.signup-button {
    padding: 10px;
    background-color: #3882F6;
    border:0;
    color:#F9FAF8;
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0 10px 0;
    width: 130px;
    border-radius: 8px;
}
#content-wrapper {
    
}